<div data-controller="products" class="mt-5">
  <h1>Calculadora de Valor por Quilograma</h1>

  <%= form_with url: products_calcula_path, method: :post do |f| %>
    <%= f.label :query, "Produto 1 - Quilogramas:" %>
    <%= f.text_field :produto1_kg %>
    <%= f.label :query, "Produto 1 - Valor:" %>
    <%= f.text_field :produto1_valor %>
    <%= f.submit "Calcular" %>
  <% end %>
</div>
